.App {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  padding-top: 80px;
  padding-bottom: 40px;
  max-width: 800px;
  min-width: 400px;
  background-color: #e8e4d9;
  background-image: url("Head.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.App h1 {
  color: #499D91;
  font-size: 24px;
  font-weight: bold;
}

.query-section {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 20px 40px 0px;
  background-color: #e8e4d9;
  font-size: 12px;
  margin: 0;
}

.section-container {
  border: 1px solid #499D91;
  margin-bottom: 20px;
}

.section-label {
  text-align: left;
  display: block;
  padding: 4px;
  background-color: #499D91;
  color: white;
  font-size: 14px;
}

.query-section select {
  padding: 0;
  border: 1px solid #A9D9D0;
  height: 24px;
}

.query-section input {
  padding: 0;
  border: 1px solid #A9D9D0;
  height: 22px;
}

.people-select {
  width: 100%;
}

.query-button {
  background-color: transparent;
  border: none;
  color: blue;
}

.query-button:hover {
  text-decoration: underline;
}

.query-line {
  display: flex;
}

.flex-expand {
  flex: 1 1 auto;
}

.flex-fixed {
  flex: 0 0 auto;
}

.meal-container select {
  width: 100%;
}

.filter-by-select {
  width: 80px;
}

.filter-op-select {
  width: 60px;
}

.filter-value-input {
  width: 100%;
}

.generate-button {
  width: 60%;
  height: 48px;
  background-color: #499D91;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.generate-button:hover {
  background-color: #027373;
}

.menu-section {
  padding: 10px 40px;
}

.menu-title {
  color: #499D91;
  font-weight: bold;
  padding: 10px 6px;
  border-bottom: 1px solid #499D91;
}

.dish-title {
  padding: 6px 0;
}

.flex-container {
  display: flex;
}

.dish-name {
  text-align: left;
}

.link-button {
  color: blue;
}

.link-button:hover {
  text-decoration: underline;
}

.dish-details {
  background-color: white;
  text-align: left;
  font-size: 11px;
  padding: 10px;
}

.dish-detail-label {
  color: #499D91;
  font-weight: bold;
}

.dish-detail-text {
  padding: 12px 20px;
}

.dish-tag {
  padding-right: 10px;
  color: #499D91;
}

.tag-warning {
  color: #fa7113;
}

.ingredients-list-section {
  padding: 10px 40px;
}

.ingredients-list-section input[type=checkbox] {
  border: 1px solid #499D91;
  background-color: #499D91;
}

.ingrd-name {
  text-align: left;
}

.ingrd-amount {
  text-align: left;
  width: 100px;
  font-size: 10px;
}

.ingrd-dishname {
  text-align: right;
  width: 120px;
  font-size: 10px;
}

.nav {
  font-size: 10px;
}

.nav a {
  padding: 0 6px;
}

.current-path {
  font-weight: bold;
}